<meta charset="UTF-8">
<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
<!-- Page title -->
<title>FINL Scan Admin </title>
<!-- <link rel="icon" type="image/x-icon" href="/images/favicon.ico" /> -->

<!-- BEGIN GLOBAL MANDATORY STYLES -->
<!-- Font Awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />

<!-- END GLOBAL MANDATORY STYLES -->
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.js"></script>
<script src="/public/js/errorCode.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- App scripts -->
<script src="/public/js/luna.js"></script>

<!-- Vendor styles -->
<link rel="stylesheet" href="/public/vendor/toastr/toastr.min.css"/>
<link rel="stylesheet" href="/public/vendor/fontawesome/css/font-awesome.css"/>
<link rel="stylesheet" href="/public/vendor/animate.css/animate.css"/>
<link rel="stylesheet" href="/public/vendor/bootstrap/css/bootstrap.css"/>
<link rel="stylesheet" href="/public/vendor/datatables/datatables.min.css"/>

<!-- App styles -->
<link rel="stylesheet" href="/public/styles/pe-icons/pe-icon-7-stroke.css"/>
<link rel="stylesheet" href="/public/styles/pe-icons/helper.css"/>
<link rel="stylesheet" href="/public/styles/stroke-icons/style.css"/>
<link rel="stylesheet" href="/public/styles/style.css">
<link rel="stylesheet" href="/public/styles/pe-icons/pe-icon-7-stroke.css"/>
<link rel="stylesheet" href="/public/styles/pe-icons/helper.css"/>
<link rel="stylesheet" href="/public/styles/stroke-icons/style.css"/>
<link rel="stylesheet" href="/public/styles/style.css">

<!-- Vendor scripts -->
<script src="/public/vendor/pacejs/pace.min.js"></script>
<script src="/public/vendor/jquery/dist/jquery.min.js"></script>
<script src="/public/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/public/vendor/toastr/toastr.min.js"></script>
<script src="/public/vendor/sparkline/index.js"></script>

<!--dataTable-->
<script src="/public/vendor/datatables/datatables.min.js"></script>
<script src="/public/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- 달력 한글 추가를 위해 커스텀 -->
<!-- https://github.com/t1m0n/air-datepicker/tree/master/dist -->
<script src="/public/vendor/datepicker/air-datepicker/dist/js/datepicker.js"></script> <!-- Air datepicker js -->
<script src="/public/vendor/datepicker/air-datepicker/dist/js/i18n/datepicker.ko.js"></script> 
<link href="/public/vendor/datepicker/air-datepicker/dist/css/datepicker.min.css" rel="stylesheet" type="text/css" media="all">
<!-- <script src="/public/vendor/datepicker/jquery-3.1.1.min.js"></script> 중복 -->

<!-- Toast -->
<script src="/public/vendor/toastr/toastr.min.js"></script>

<script type="text/javascript"></script>
