<!-- Main content-->
<div class="container-fluid">
<div class="row">
    <div class="col-lg-12">
        <div class="panel m-b-none">
            <div class="panel-body">
                <h3 class="m-b-xs"><i class="pe pe-7s-graph1 text-warning m-r-xs"></i> Cluster Info </h3>
                <hr/>
                <p class="small">
                    <span class="c-white">Monitoring the Cluster Info of Each Nodes</span>
                </p>
                <hr/>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="panel-toggle"><i class="fa fa-chevron-up"></i></a>
                </div>
                Select The Server
            </div>
            <div class="panel-body">
                
                <fieldset>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-check abc-radio abc-radio-danger form-check-inline">
                            <input class="form-check-input" type="radio" id="mainnet" value="api" name="selectNet">
                            <label class="form-check-label" for="mainnet"> FINL </label>
                        </div>
                        <div class="form-check abc-radio abc-radio-warning form-check-inline">
                            <input class="form-check-input" type="radio" id="halla" value="apih" name="selectNet">
                            <label class="form-check-label" for="halla"> HALLA </label>
                        </div>
                        <div class="form-check abc-radio form-check-inline">
                            <input class="form-check-input" type="radio" id="dev" value="apid" name="selectNet">
                            <label class="form-check-label" for="dev"> DEV </label>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:20px">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label>Select The Node</label>
                        </div>
                        <div>
                            <select class="form-control" name="node"  id="selectNode">                             
                                <option>Select</option>                            
                            </select>                           
                            <button class="btn btn-default" type="button" id="chkNode" style="margin-top:20px" >Send Request</button>        
                        </div>   
                    </div>                  
                </div>              
            </div>
        </div>
    </div>
</div>


<div id="res" class="panel panel-filled panel-c-success">
    <div id="response" class="panel-heading">
    </div>
</div>
<div class="row" id="data_zone" style="display: none;">        
        <div class="row">
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="panel m-b-none">
                    <div class="panel-body">
                        <table class="table table-sm">
                            <thead>
                            <tr>
                                <th>Virtual Machine</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Hypervisor</td>
                                <td class="text-right"><mark id="hyper" style="font-weight: 500;"></mark></td>
                            </tr>
                            <tr>
                                <td>Virtualization</td>
                                <td class="text-right"><mark id="virtual" style="font-weight: 500;"></mark></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="panel m-b-none">
                    <div class="panel-body">
                        <table class="table table-sm">
                            <thead>
                            <tr>
                                <th>Network IP</th>
                            </tr>
                            </thead>
                            <tbody id="ipList">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="panel m-b-none">
                    <div class="panel-body">
                        <table class="table table-sm">
                            <thead>
                            <tr>
                                <th>CPU</th>
                            </tr>
                            </thead>
                            <tbody id="cpuList">
                                                    
                            </tbody>                          
                        </table>
                       
                    </div>
                </div>

            </div>
        </div>
        <div class="row">

            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="panel m-b-none">
                    <div class="panel-body">
                        <table class="table table-sm">
                            <thead>
                            <tr>
                                <th>Memory</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr id="memSizeList">
                                    <td>Size</td>
                                </tr>
                                <tr>
                                    <td>Speed</td>
                                    <td class="text-right"><span id="memSpeed"></span></td>
                                </tr>
                                <tr>
                                    <td>Avail</td>
                                    <td class="text-right"><span id="memAvail"></span></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="panel m-b-none">
                    <div class="panel-body">
                        <table class="table table-sm">
                            <thead>
                            <tr>
                                <th>Storage</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Disk</td>
                                    <td class="text-right"><span id="storage"></span></td>
                                </tr>
                                <tr id="strSizeList">
                                    <td>Size</td>
                                    
                                </tr>
                                <tr>
                                    <td>Raid Type</td>
                                    <td class="text-right"><span id="raid"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>  
        <div class="row">

            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="panel m-b-none">
                    <div class="panel-body">
                        <table class="table table-sm">
                            <thead>
                            <tr>
                                <th>Usage Ratio</th>
                            </tr>
                            </thead>
                            <tbody>        
                                <tr>
                                    <td>CPU</td>
                                    <td class="text-right"><span id="cpuRatio"></span></td>
                                </tr>
                                <tr>
                                    <td>Memory</td>
                                    <td class="text-right"><span id="memRatio"></span></td>
                                </tr>   
                                <tr>
                                    <td>Disk</td>
                                    <td class="text-right"><span id="diskRatio"></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>        
          
        </div>       
        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-filled">
                    <div class="panel-body">
                        <p>
                        </p>

                        <table class="table">
                            <thead>
                            <tr>
                                <th>
                                    Filesystem
                                </th>
                                <th>
                                    Size
                                </th>
                                <th>
                                    Used
                                </th>
                                <th>
                                    Avail
                                </th>
                                <th>
                                    Use
                                </th>
                                <th>
                                    Mounted on
                                </th>
                            </tr>
                            </thead>
                            <tbody id="dfList">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>    
</div>
</div>  

<script>
    $(document).ready(function () {

        $('#tableExample1').DataTable({
            "dom": 't'
        });

        $('#tableExample2').DataTable({
            "dom": "<'row'<'col-sm-6'l><'col-sm-6'f>>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
            "lengthMenu": [[6, 25, 50, -1], [6, 25, 50, "All"]],
            "iDisplayLength": 6,
        });

        $('#tableExample3').DataTable({
            dom: "<'row'<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>tp",
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            buttons: [
                { extend: 'copy', className: 'btn-sm' },
                { extend: 'csv', title: 'ExampleFile', className: 'btn-sm' },
                { extend: 'pdf', title: 'ExampleFile', className: 'btn-sm' },
                { extend: 'print', className: 'btn-sm' }
            ]
        });

    });
</script>